<h1> Create your new account </h1>

<form action="/users" method="POST">
  <input type="text" id="email" name="email" value="email">
  <input type="password" id="password" name="password" value="password">
  <input type="password" id="password confirmation" name="password_confirmation" value="confirm password">
  <input type="submit" value="Create account">
</form>
