
  <% if current_user %>
    <h1> Welcome, <%= @current_user.email %>!</h1>
  <% end %>


<h2> Links </h2>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <%= link.url   %>
    </li>
  <% end %>
</ul>
